.menu-projets {
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    width: 21em;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(2px);
    font-size: 20px;
    font-family: 'Sarpanch', sans-serif;
}

.menu-projets p {
    cursor: pointer;
    align-self: flex-end;

}

.menu-projets :nth-child(4) {
    font-family: 'Viaoda Libre', cursive;
    font-size: 40px;
}

.menu-projets :hover {
    color: var(--hight-color);
    border-color: var(--secondary-color);
    animation: menuhover 5s ease-in;
    filter: drop-shadow(2px 4px 6px var(--dark-color));
}

.menu-contact {
    display: flex;
    justify-content: space-around;
    padding: 6em 2em 0 2em;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 2em;
    align-self: center;
    min-width: 200px;
    background: var(--dark-color);
    color: var(--hight-color);
    border-radius: 10px;
}

.form input,
textarea,
button {
    max-width: 100%;
    border-radius: 3px;
}

label,
h2,
button {
    font-family: sarpanch;
    padding: 0.5em;
    font-size: 16px;
    line-height: 20px;

}

@media (max-width : 870px) {
    .menu-contact {
        padding: 2em 2em 0 2em;
        flex-direction: column;
    }

}

.menu-contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.menu-contact div:hover {
    background-color: var(--dark-color);
    color: var(--hight-color);
}

.visiblemap {
    display: block !important;
}

#mapiframe {
    display: none;
    max-height: 40vh;
    max-width: 80%;
    align-self: center;
}

#test-form{
    display: flex;
    flex-direction: column;
}