.menu-projets {
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    width: 21em;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(2px);
    font-size: 20px;
    font-family: 'Sarpanch', sans-serif;
}

.menu-projets p {
    cursor: pointer;
    align-self: flex-end;

}

.menu-projets :nth-child(4) {
    font-family: 'Viaoda Libre', cursive;
    font-size: 40px;
}

.menu-projets :hover {
    color: var(--hight-color);
    border-color: var(--secondary-color);
    animation: menuhover 5s ease-in;
    filter: drop-shadow(2px 4px 6px var(--dark-color));
}

.menu-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6em 0 0 0;
    width: 50%;
    max-height: 400px;
    place-self: center;
}

section {
    flex-direction: row;
    justify-content: space-evenly;
}

.form {
    display: flex;
    place-content: center;
    margin-top: 2em;
    padding: 2em;
    align-self: center;
    min-width: 200px;
    width: 50%;
}

.form input,
textarea,
button {
    max-width: 100%;
    border-radius: 3px;
}

label,
h2,
button {
    font-family: sarpanch;
    padding: 0.5em;
    font-size: 16px;
    line-height: 20px;

}

@media (max-width : 870px) {
    section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-contact {
        flex-direction: column;
        width: 100%;
    }

    .form {
        margin-left: 2em;
        margin-right: 2em;
        flex-direction: column;
    }

    #mapiframe{
        margin-bottom: 1em;
        margin-right: 0 !important;
    }
    #test-form, #mapiframe{
        width: 100%;
    }

.menu-contact div:hover a{
    color: var(--primary-color) !important;
}
}

.menu-contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    color: var(--primary-color);
    margin-bottom: 2em;
}

.menu-contact div:hover {
    color: var(--secondary-color);
}

.menu-contact div:hover a{
    color: var(--dark-color);
}

.visiblemap {
    display: block !important;
}

#mapiframe {
    display: none;
    height: 400px;
    align-self: center;
    max-width: 300px;
    background: var(--dark-color);
    padding: 1em;
    border-radius: 5px;
    margin-right: 1em;

}

#test-form {
    display: flex;
    height: 400px;
    flex-direction: column;
    max-width: 300px;
    background: var(--dark-color);
    color: var(--hight-color);
    border-radius: 5px;
    padding: 1em;
    align-self: center;
}

button {
    margin-top: 2em;
    color: var(--primary-color);

}

.addresse{
    background: linear-gradient(45deg, var(--dark-color) 56%, transparent 50%);
}
.phone{
    background: linear-gradient(45deg, var(--dark-color) 69%, transparent 50%);
}
.mail{
    background: linear-gradient(45deg, var(--dark-color) 82%, transparent 50%);
}
.cv{
    background: linear-gradient(45deg, var(--dark-color) 95%, transparent 50%);
}



.addresse:hover{
        background: linear-gradient(45deg, var(--dark-color) 42%, transparent 10%);
}

.phone:hover{
    background: linear-gradient(45deg, var(--dark-color) 41%, transparent 10%);
}
.mail:hover{
        background: linear-gradient(45deg, var(--dark-color) 35%, transparent 10%);
}
.cv:hover{
        background: linear-gradient(45deg, var(--dark-color) 40%, transparent 10%);
}
