.home3 h1 {
    font-family: 'Sacramento', cursive;
    font-size: 63px;
    text-align: center;
    padding: 40px 0 0.5em 0;
}

.home3-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    justify-content: space-between;
    min-height: 80%;
}

.image-slider {
    height: 90px;
    z-index: 0;
    justify-content: center;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    background: linear-gradient(45deg, var(--dark-color) 50%, transparent 50%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.home3 .img-tech {
    height: 80px;
    align-self: center;
    padding-left: 1.5em;
}

.image-slider {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}


.image-slider::-webkit-scrollbar {
    display: none;
}

.img-bottom {
    width: 225px;
    position: absolute;
    right: 0;
    bottom: -200vh;
    z-index: -2;
}

@media (max-width : 870px) {
    .img-bottom {
        display: none;
    }
}

.liste-tech {
    padding-top: 2%;
    text-align: center;
    flex-grow: 1;
    font-family: 'Sarpanch', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    cursor: initial;
    text-align: -webkit-center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.liste-tech h2 {
    padding-top: 1em;
    max-width: 500px;
    padding-left: 1em;
    padding-right: 1em;
}

.liste-tech h2 span {
    font-family: 'Rye';
    font-size: 2rem;
}

.liste-tech li {
    color: var(--primary-color);
    cursor: pointer;
    justify-self: center;
    padding: 0.5em;
    height: 200px;
    width: 156px;
    background: var(--hight-color);
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px var(--dark-color);
}

.home3 ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    font-family: 'Rye';
    font-size: 2rem;
    align-items: center;

}

.techno-card-flip {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    min-height: 80%;
}

.container-card-flip {
    color: var(--primary-color);
    cursor: pointer;
    justify-self: center;
    padding: 0.5em;
    height: 300px;
    width: 250px;
    background: var(--hight-color);
    margin-left: 1em;
    margin-top: 1em;
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
    perspective: 1000px;
}

.card-flip {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front-card,
.back-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.container-card-flip:hover .card-flip {
    transform: rotateY(-180deg);
}

.back-card {
    transform: rotateY(180deg);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.front-card {
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 24px;
}

.back-card :first-child{
    margin-top: 0;
}
.back-card li {
    color: var(--dark-color);
    margin: 20px;
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
}