.home3 h1 {
    font-family: 'Sacramento', cursive;
    font-size: 63px;
    text-align: center;
    padding: 40px 0 0.5em 0;
}

.home3-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    justify-content: space-between;
    min-height: 80%;
}

.shape {
    position: fixed;
    top: 30vh;
    left: -232px;
    height: 17em;
    width: 17em;
    background-color: var(--primary-color);
    transform: rotate(45deg) skew(0deg);
    -webkit-transform: rotate(45deg) skew(0deg);
    border-radius: 2em;
    z-index: 999;
    visibility: hidden;
}

.shape i {
    color: var(--hight-color);
}

.container-menu-mobil {
    transform: rotate(-45deg) skew(0deg);
    -webkit-transform: rotate(-45deg) skew(0deg);
    position: relative;
    position: relative;
    top: -86px;
    left: 64px;
    width: 100%;
    height: 108%;
    display: none;
}

.menu-mobil {
    box-shadow: 5px 3px var(--secondary-color);
    position: absolute;
    top: 0;
    left: 200px;
    background: var(--dark-color);
    color: var(--hight-color);
    padding: 0.5em;
    cursor: pointer;
}

.menu-mobil:hover {
    animation: hoverMenuMobile 1s;
}

@keyframes hoverMenuMobile {
    from {
        box-shadow: 5px 3px var(--secondary-color);
    }

    to {
        box-shadow: 0 0 var(--secondary-color);
    }
}

.menu-mobil1 {
    top: 0vh;
    left: 158px;
}

.menu-mobil2 {
    top: 11vh;
}

.menu-mobil3 {
    top: 31vh;
}

.menu-mobil4 {
    top: 47vh;
    left: 158px;
}


@media (max-width : 870px) {
    .icone-menu {
        position: absolute;
        right: 39px;
        top: 21px;
        transform: rotate(135deg);
        font-size: 3rem;
        display: block;
        animation: menumob 2s infinite alternate;
    }

    .container-menu-mobil {
        position: relative;
        top: -67px;
        left: 60px;
        width: 100%;
        height: 108%;
    }

    .shape {
        visibility: visible;
    }
}

@keyframes menumob {
    to {
        opacity: 0;
    }

    from {
        opacity: 1;
    }
}

.image-slider {
    height: 90px;
    z-index: 0;
    justify-content: center;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    background: linear-gradient(45deg, var(--dark-color) 50%, transparent 50%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.home3 .img-tech {
    height: 80px;
    align-self: center;
    padding-left: 1.5em;
}

.image-slider {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}


.image-slider::-webkit-scrollbar {
    display: none;
}

.img-bottom {
    width: 225px;
    position: absolute;
    right: 0;
    bottom: -200vh;
    z-index: -2;
}

@media (max-width : 870px) {
    .img-bottom {
        display: none;
    }
}

.liste-tech {
    padding-top: 2%;
    text-align: center;
    flex-grow: 1;
    font-family: 'Sarpanch', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    cursor: initial;
    text-align: -webkit-center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.liste-tech h2 {
    padding-top: 1em;
    max-width: 500px;
    padding-left: 1em;
    padding-right: 1em;
}

.liste-tech h2 span {
    font-family: 'Rye';
    font-size: 2rem;
}

.liste-tech li {
    color: var(--primary-color);
    cursor: pointer;
    justify-self: center;
    padding: 0.5em;
    height: 200px;
    width: 156px;
    background: var(--hight-color);
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px var(--dark-color);
}

.home3 ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    font-family: 'Rye';
    font-size: 2rem;
    align-items: center;

}