@import url('https://fonts.googleapis.com/css2?family=Rye&family=Sacramento&family=Sarpanch:wght@400;700&family=Viaoda+Libre&display=swap');

:root {
    --primary-color: #f4A261;
    --secondary-color: #2A9D87;
    --dark-color: #264653;
    --hight-color: #f7fff7;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: var(--dark-color);
    background-color: var(--hight-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.visible {
    display: block !important;
}

.home2::after,
.home3-main::after {
    content: "";
    display: block;
    position: relative;
    align-self: flex-end;
    place-self: center;
    width: 50%;
    height: 1px;
    margin-top: 2%;
    background-color: var(--primary-color);
    z-index: -1;
}

.home1 {
    display: flex;
    flex-direction: column;
    background: url("https://cdn.pixabay.com/photo/2015/12/08/00/26/desk-1081708_960_720.jpg");
    background-size: cover;
    animation: zoomin 40s alternate infinite;
    z-index: 99;
}

@keyframes zoomin-mobile {
    0% {
        background-size: 160%;
    }

    100% {
        background-size: 180%;
    }
}

@keyframes zoomin {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 120%;
    }
}

@media (max-width : 1234px) {
    .home1 {
        animation: zoomin-mobile 40s infinite;
    }
}

@media (max-width : 870px) {
    .home1 {
        animation: none;
    }
}

.menu {
    color: var(--primary-color);
}

.menu ul {
    display: flex;
}

.menu li {
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.menu ul :hover {
    color: var(--hight-color);
    border-color: var(--secondary-color);
    animation: menuhover 5s ease-in;
    filter: drop-shadow(2px 4px 6px var(--dark-color));
}

@keyframes menuhover {
    0% {
        border-color: var(--primary-color);
    }

    50% {
        border-color: var(--secondary-color);
    }

    70% {
        border-color: var(--primary-color);
    }

    100% {
        border-color: var(--secondary-color);
    }


}

@media (max-width : 870px) {
    .menu-li {
        display: none;
    }
}

.menu-home-li {
    font-size: 40px;
    font-family: 'Viaoda Libre', cursive;
}

.menu-li {
    font-family: 'Sarpanch', sans-serif;
    font-size: 25px;
    align-self: flex-end;
}

.home-title {
    position: relative;
    top: 50vh;
    left: 10%;
    font-family: 'Rye', cursive;
    width: fit-content;
}

.home-title h1 {
    font-size: xx-large;
    width: 84%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end),
        blink-caret .75s step-end infinite;
    border-right: .15em solid var(--primary-color);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 87%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--primary-color);
    }
}

.home-title h2 {
    font-size: x-large;
}


.home-title h2 span {
    color: var(--hight-color);
    animation: changecolor 4s infinite alternate;
}

@keyframes changecolor {
    0% {
        color: var(--hight-color);
    }

    25% {
        color: var(--primary-color);
    }

    50% {
        color: var(--hight-color);
    }

    75% {
        color: var(--secondary-color);
    }

    100% {
        color: var(--primary-color);
    }
}

.continue {
    cursor: pointer;
    position: absolute;
    left: 73%;
    top: 80%;
    width: fit-content;
    text-align: -webkit-center;
}

.continue p {
    font-size: large;
    font-family: 'Sarpanch', sans-serif;
}

.continue p span {
    color: var(--hight-color);
}


.arrow {
    border: solid var(--primary     -color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0 5px 5px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 5px;
    height: 5px;
}

.line-arrow {
    border: solid var(--dark-color);
    border-width: 0 1px 0 0;
    display: block;
    height: 60px;
    width: 1px;
    padding: 5px 0 0 0;
    margin-top: 12px;
}

.shape {
    position: fixed;
    top: 30vh;
    left: -232px;
    height: 17em;
    width: 17em;
    background-color: var(--primary-color);
    transform: rotate(45deg) skew(0deg);
    -webkit-transform: rotate(45deg) skew(0deg);
    border-radius: 2em;
    z-index: 999;
    visibility: hidden;
}

.shape i {
    color: var(--hight-color);
}

.container-menu-mobil {
    transform: rotate(-45deg) skew(0deg);
    -webkit-transform: rotate(-45deg) skew(0deg);
    position: relative;
    position: relative;
    top: -86px;
    left: 64px;
    width: 100%;
    height: 108%;
    display: none;
}

.menu-mobil {
    box-shadow: 5px 3px var(--secondary-color);
    position: absolute;
    top: 0;
    left: 200px;
    background: var(--dark-color);
    color: var(--hight-color);
    padding: 0.5em;
    cursor: pointer;
}

.menu-mobil:hover {
    animation: hoverMenuMobile 1s;
}

@keyframes hoverMenuMobile {
    from {
        box-shadow: 5px 3px var(--secondary-color);
    }

    to {
        box-shadow: 0 0 var(--secondary-color);
    }
}

.menu-mobil1 {
    top: 0vh;
    left: 158px;
}

.menu-mobil2 {
    top: 65px;
}

.menu-mobil3 {
    top: 190px;
}

.menu-mobil4 {
    top: 275px;
    left: 158px;
}


@media (max-width : 870px) {
    .menu-projets{
        visibility: hidden;
    }

    .icone-menu {
        position: absolute;
        right: 39px;
        top: 21px;
        transform: rotate(135deg);
        font-size: 3rem;
        display: block;
        animation: menumob 2s infinite alternate;
    }

    .container-menu-mobil {
        position: relative;
        top: -67px;
        left: 60px;
        width: 100%;
        height: 108%;
    }

    .shape {
        visibility: visible;
    }
}

@keyframes menumob {
    to {
        opacity: 0;
    }

    from {
        opacity: 1;
    }
}