.menu-projets {
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    width: 21em;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(2px);
    font-size: 20px;
    font-family: 'Sarpanch', sans-serif;
}

.menu-projets p {
    cursor: pointer;
    align-self: flex-end;

}

.menu-projets :nth-child(2){
    font-family: 'Viaoda Libre', cursive;
    font-size: 40px;
}

.menu-projets :hover     {
    color: var(--hight-color);
    border-color: var(--secondary-color);
    animation: menuhover 5s ease-in;
    filter: drop-shadow(2px 4px 6px var(--dark-color));
}

.parallax1 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: url(https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -999;
}

.main-projets {
    margin-top: 4em;
    z-index: 99;
}

.card-projets {
    justify-self: center;
    padding: 0.5em;
    height: 23em;
    width: 18em;
    background: #d4d4d4c4;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
}

.card-projets:hover {
    transform: scale(1.2);
    animation: cardhover 1s;
}

@keyframes cardhover {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

section {
    flex-direction: row;
    z-index: 99;
    flex-wrap: wrap;
    justify-content: center;

}

.col2,
.col4 {
    margin-top: 8em;
}

.parallax2 {
    z-index: -99;
    position: absolute;
    top: 100vh;
    height: 10vh;
    width: 100%;
    background: linear-gradient(45deg, transparent 50%, rgb(12, 8, 8)50%);
}

.parallax3 {
    position: absolute;
    top: 200vh;
    height: 10vh;
    width: 100%;
    transform: translateX(-600px);
    background: linear-gradient(45deg, rgb(12, 8, 8)50%, transparent 50%);
}

.parallax4 {
    position: absolute;
    top: 212vh;
    height: 10vh;
    width: 100%;
    transform: translateX(-600px);
    background: linear-gradient(45deg, rgb(12, 8, 8)50%, transparent 50%);
}

.parallax5 {
    position: absolute;
    top: 224vh;
    height: 10vh;
    width: 100%;
    transform: translateX(-600px);
    background: linear-gradient(45deg, rgb(12, 8, 8)50%, transparent 50%);
}

.body-card-projets {
    width: 100%;
    height: inherit;
    border: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    cursor: pointer;
}

.card {
    backdrop-filter: brightness(0.5);
    height: 20%;
}

.projets1 {
    background: url(https://cdn.pixabay.com/photo/2017/09/07/13/58/underground-2725336_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.projets2 {
    background: url(https://cdn.pixabay.com/photo/2021/01/06/16/24/steampunk-5894941_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left;
}


.projets3 {
    background: url(https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_960_720.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.projets4 {
    background: url(https://cdn.pixabay.com/photo/2020/06/12/19/52/hulett-5291638_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left;
}


.projets5 {
    background: url(https://cdn.pixabay.com/photo/2018/09/05/07/33/computer-3655665_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.projets6 {
    background: url(https://cdn.pixabay.com/photo/2016/03/17/23/00/world-1264062_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left;
}


.projets7 {
    background: url(https://cdn.pixabay.com/photo/2019/02/21/10/25/old-phone-4011012_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.projets8 {
    background: url(https://cdn.pixabay.com/photo/2016/03/19/08/20/tempodrom-1266337_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left;
}

.projets9 {
    background: url(https://cdn.pixabay.com/photo/2019/10/24/15/33/stairs-4574579_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.projets10 {
    background: url(https://cdn.pixabay.com/photo/2019/10/24/15/33/stairs-4574579_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left;
}


.projets11 {
    background: url(https://cdn.pixabay.com/photo/2019/10/24/15/33/stairs-4574579_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.projets12 {
    background: url(https://cdn.pixabay.com/photo/2019/10/24/15/33/stairs-4574579_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left;
}